.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a98ff0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.stell {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}


/* Estilos para os cards individuais de Pokémon */
.top-section {
    display: flex;
    flex-direction: column; /* Defina a direção da coluna para alinhar os itens verticalmente */
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
}

/* Estilo para o nome do Pokémon */
.top-section .name {
    color: white;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

/* Wrapper para informações do Pokémon */
.info-wrapper {
    margin-top: auto; /* Empurra para o final verticalmente */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Coloca os elementos no início e no final horizontalmente */
}

.number {
    color: #ffff;
    /* margin-left: auto; */ /* Remova essa linha */
}

/* Estilo para os tipos do Pokémon */
.top-section .types {
    padding: 10%;
    margin: 0%;
    list-style: none;
    /* margin-left: auto; */ /* Remova essa linha */
}

/* Restante do seu CSS... */

/* Estilo para a imagem do Pokémon */
.top-section img {
    max-width: 60%;
    align-self: center; /* Centralizar a imagem verticalmente */
}
